{
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 80,
  "importOrder": ["^reflect-metadata$", "^[^./]", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript",
        "plugins": []
      }
    }
  ]
}
